figure {
  margin: 0;
}

.brz-third-party:has(.gallery) {
  width: 100%;
}

.gallery {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 25px;

  &__big-image {
    width: 100%;
    height: 700px;
    img {
      height: 100%;
      object-fit: contain;
    }
  }
  &__all-images {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 15px;

    figure {
      border: 2px solid gray;
      width: 250px;
      padding: 10px;
      border-radius: 8px;
      cursor: pointer;
      display: flex;
      flex-direction: column;

      &.active {
        border-color: lightcoral;
      }
    }

    .image-wrapper {
      flex-grow: 1;
      align-content: center;
    }

    img {
      max-width: 100%;
      height: auto;
    }
  }
}
